@{
    ViewData["Title"] = "Converter";
}

<h3>Welcome to Unit Converter!</h3>

<p>With this, using the URL as input you can:</p>
<ul>
<li>Convert Temperatures between Celsius, Fahrenheit, and Kelvin</li>
<li>Convert Length between Meters, Feet, and Yards</li>
<li>Convert Mass between Ounces, Pounds, Grams, and Kilograms</li>
</ul>